@charset "utf-8";

#ID_QA_FORM{ display: contents;}
.list_top.notice_title.active { background: no-repeat right center url(/damoum_api/images/ico_up.png); background-size: 8%; background-position-x: 98.5%; font-size: 15px; font-weight: normal;}